<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Aniiii :)</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="!done" v-html="calc()"></div>
      <div v-else v-html="fin()"></div>
      <input type="text" v-model="word" />
    </div>

    <script>
      var _0xb232 = [
        "wrzCoQ5GUcO7bFl7w5HCi1A2w7vCqBQsGVkgOsO9w5EIwr3CujNrVgvCo0/Ci8Kl",
        "w4Uqw6NeUMOnMcO5w7oNwro8wqjCi8Obw6HDjsKvw6tZGcKpwpfCtCQkBAfCvcKUw4vCl0QqKw==",
        "URLClMOP",
        "wrIRwoTCmsKMw7HCo8Ovd2VBVMKxw5kmNsKBRg==",
        "WSfCr8Os",
        "w5ZweTnDhCs=",
        "w5RNw7/Cn1ph",
        "w4ghw6RTRcOh",
        "wrBzw67CuMO7wpU=",
        "WnzCrGrCnkc=",
        "Z8KFwq5Q",
        "dcK5Zj/DlA19",
        "wp9PLE/DpA==",
        "wpLDjMKjwp8cwrI=",
        "QsOCQzDDkMKS",
        "I8ORw7Zw",
        "U1LDssKqY8KJbMOLHyHClcOQwqQ/w7s3BFHDqMKowqnCo8KIWwTCmhcxwq7Du3cPU8O0QTjDogM+w5PCmsOQw5xAM8O2cV0BWhVQw7jDuCfClg==",
        "b8KLw7ZoESJw",
        "wpIXwrZw",
        "EsOUXTbDisOaK8OHccOGVU7Dgi5fB8KnJsO9QETCgBYhwoJ6FMKEw5rDvcKJY8K3OcK+ScO3w4nDtAPDgn/Cj3x/w7AMwrEYwrrChsOEE34=",
        "DMKgwoXDlDbDvMKd",
        "FsOHHyM=",
        "DcOGXSc="
      ];
      (function(_0x58659e, _0x358827) {
        var _0x28d52c = function(_0x1ea723) {
          while (--_0x1ea723) {
            _0x58659e["push"](_0x58659e["shift"]());
          }
        };
        _0x28d52c(++_0x358827);
      })(_0xb232, 0xa0);
      var _0x57dc = function(_0x5102f7, _0x70f966) {
        _0x5102f7 = _0x5102f7 - 0x0;
        var _0x545f76 = _0xb232[_0x5102f7];
        if (_0x57dc["UpPNxt"] === undefined) {
          (function() {
            var _0x366e98;
            try {
              var _0x3a62c2 = Function(
                "return\x20(function()\x20" +
                  "{}.constructor(\x22return\x20this\x22)(\x20)" +
                  ");"
              );
              _0x366e98 = _0x3a62c2();
            } catch (_0x1638a0) {
              _0x366e98 = window;
            }
            var _0x20cfec =
              "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
            _0x366e98["atob"] ||
              (_0x366e98["atob"] = function(_0x3e4323) {
                var _0xf9c416 = String(_0x3e4323)["replace"](/=+$/, "");
                for (
                  var _0x1ed1b1 = 0x0,
                    _0x25c352,
                    _0x25109c,
                    _0x108990 = 0x0,
                    _0x15ea01 = "";
                  (_0x25109c = _0xf9c416["charAt"](_0x108990++));
                  ~_0x25109c &&
                  ((_0x25c352 =
                    _0x1ed1b1 % 0x4 ? _0x25c352 * 0x40 + _0x25109c : _0x25109c),
                  _0x1ed1b1++ % 0x4)
                    ? (_0x15ea01 += String["fromCharCode"](
                        0xff & (_0x25c352 >> ((-0x2 * _0x1ed1b1) & 0x6))
                      ))
                    : 0x0
                ) {
                  _0x25109c = _0x20cfec["indexOf"](_0x25109c);
                }
                return _0x15ea01;
              });
          })();
          var _0x3c82b0 = function(_0x2672aa, _0x70f966) {
            var _0x552561 = [],
              _0x45e8d1 = 0x0,
              _0x2bbfb7,
              _0x9b383a = "",
              _0x19b07e = "";
            _0x2672aa = atob(_0x2672aa);
            for (
              var _0x36344a = 0x0, _0x2e797a = _0x2672aa["length"];
              _0x36344a < _0x2e797a;
              _0x36344a++
            ) {
              _0x19b07e +=
                "%" +
                ("00" + _0x2672aa["charCodeAt"](_0x36344a)["toString"](0x10))[
                  "slice"
                ](-0x2);
            }
            _0x2672aa = decodeURIComponent(_0x19b07e);
            for (var _0x2c224d = 0x0; _0x2c224d < 0x100; _0x2c224d++) {
              _0x552561[_0x2c224d] = _0x2c224d;
            }
            for (_0x2c224d = 0x0; _0x2c224d < 0x100; _0x2c224d++) {
              _0x45e8d1 =
                (_0x45e8d1 +
                  _0x552561[_0x2c224d] +
                  _0x70f966["charCodeAt"](_0x2c224d % _0x70f966["length"])) %
                0x100;
              _0x2bbfb7 = _0x552561[_0x2c224d];
              _0x552561[_0x2c224d] = _0x552561[_0x45e8d1];
              _0x552561[_0x45e8d1] = _0x2bbfb7;
            }
            _0x2c224d = 0x0;
            _0x45e8d1 = 0x0;
            for (
              var _0x413cb5 = 0x0;
              _0x413cb5 < _0x2672aa["length"];
              _0x413cb5++
            ) {
              _0x2c224d = (_0x2c224d + 0x1) % 0x100;
              _0x45e8d1 = (_0x45e8d1 + _0x552561[_0x2c224d]) % 0x100;
              _0x2bbfb7 = _0x552561[_0x2c224d];
              _0x552561[_0x2c224d] = _0x552561[_0x45e8d1];
              _0x552561[_0x45e8d1] = _0x2bbfb7;
              _0x9b383a += String["fromCharCode"](
                _0x2672aa["charCodeAt"](_0x413cb5) ^
                  _0x552561[
                    (_0x552561[_0x2c224d] + _0x552561[_0x45e8d1]) % 0x100
                  ]
              );
            }
            return _0x9b383a;
          };
          _0x57dc["AKxNfo"] = _0x3c82b0;
          _0x57dc["DZrLJY"] = {};
          _0x57dc["UpPNxt"] = !![];
        }
        var _0x2a8d96 = _0x57dc["DZrLJY"][_0x5102f7];
        if (_0x2a8d96 === undefined) {
          if (_0x57dc["UmHHzx"] === undefined) {
            _0x57dc["UmHHzx"] = !![];
          }
          _0x545f76 = _0x57dc["AKxNfo"](_0x545f76, _0x70f966);
          _0x57dc["DZrLJY"][_0x5102f7] = _0x545f76;
        } else {
          _0x545f76 = _0x2a8d96;
        }
        return _0x545f76;
      };
      new Vue({
        el: _0x57dc("0x0", "^634"),
        data: {
          preview: _0x57dc("0x1", "jFD("),
          word: "",
          target: _0x57dc("0x2", "JQxN"),
          correct: 0x0,
          done: ![]
        },
        methods: {
          fin: function() {
            this[_0x57dc("0x3", "fKkA")]();
            return _0x57dc("0x4", "au[r");
          },
          calc: function() {
            var _0x23be78 = this[_0x57dc("0x5", "&5Is")];
            var _0xe9a2b7 = this[_0x57dc("0x6", "6Bt*")];
            var _0x4f583b = _0xe9a2b7[_0x57dc("0x7", "nf&3")];
            var _0xbe90e3 = 0x0;
            var _0x12bb68 = 0x0;
            for (
              var _0x1854fe = 0x0;
              _0x1854fe < _0x23be78[_0x57dc("0x8", "JQxN")];
              _0x1854fe++
            ) {
              if (_0x1854fe >= _0xe9a2b7[_0x57dc("0x9", "4F(j")]) {
                _0x12bb68++;
                continue;
              }
              if (_0x23be78[_0x1854fe] === _0xe9a2b7[_0x1854fe]) {
                _0xbe90e3++;
                continue;
              }
              _0x12bb68 += 0x2;
            }
            _0xbe90e3 -= _0x12bb68;
            if (_0xbe90e3 < 0x0) {
              _0xbe90e3 = 0x0;
            }
            var _0x5d3130 = _0xbe90e3 / _0xe9a2b7[_0x57dc("0xa", "]Q&W")];
            this[_0x57dc("0xb", "OsY)")] = _0x5d3130 >= 0x1;
            let _0x42bb84 = this[_0x57dc("0xc", "l32O")][
              _0x57dc("0xd", "9tKW")
            ]("");
            let _0x295e36 = [];
            let _0x4fbced = _0x5d3130 * _0x42bb84[_0x57dc("0xe", "k^ei")];
            for (
              var _0x1854fe = 0x0;
              _0x1854fe < _0x42bb84[_0x57dc("0xf", "^634")];
              _0x1854fe++
            ) {
              if (_0x1854fe < _0x4fbced) {
                _0x295e36[_0x57dc("0x10", "eae@")](
                  _0x57dc("0x11", "U!bF") +
                    _0x42bb84[_0x1854fe] +
                    _0x57dc("0x12", "eae@")
                );
              } else {
                _0x295e36[_0x57dc("0x13", "e$Eo")](
                  _0x57dc("0x14", "^634") +
                    _0x42bb84[_0x1854fe] +
                    _0x57dc("0x15", "0]Wv")
                );
              }
            }
            return _0x295e36[_0x57dc("0x16", "dMZF")]("");
          }
        }
      });
    </script>
  </body>
</html>
