<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Aniiii :)</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="!done" v-html="calc()"></div>
      <div v-else v-html="fin()"></div>
      <input type="text" v-model="word" />
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          preview: "You good. Expect more here soon :)",
          word: "",
          target: "anijan ich bin so glücklich mit dir",
          correct: 0,
          done: false
        },
        methods: {
          fin: function() {
            this.calc();
            return "yes!! is gd anijan";
          },
          calc: function() {
            var source = this.word;
            var target = this.target;
            var maxCorrect = target.length;
            var currentCorrect = 0;
            var extraWrong = 0;
            for (var i = 0; i < source.length; i++) {
              if (i >= target.length) {
                extraWrong++;
                continue;
              }
              if (source[i] === target[i]) {
                currentCorrect++;
                continue;
              }
              extraWrong += 2;
            }
            currentCorrect -= extraWrong;
            if (currentCorrect < 0) {
              currentCorrect = 0;
            }

            var ratio = currentCorrect / target.length;
            this.done = ratio >= 1;

            let chars = this.preview.split("");
            let colored = [];
            let edge = ratio * chars.length;
            for (var i = 0; i < chars.length; i++) {
              if (i < edge) {
                colored.push(
                  '<span style="color: green; text-decoration: underline;">' +
                    chars[i] +
                    "</span>"
                );
              } else {
                colored.push(
                  '<span style="color: red; text-decoration: underline;">' +
                    chars[i] +
                    "</span>"
                );
              }
            }

            return colored.join("");
          }
        }
      });
    </script>
  </body>
</html>
